### OS / Editor
.DS_Store

### Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

### Virtual environments
.venv/
venv/
env/

### Jupyter
.ipynb_checkpoints/

### Logs / caches
*.log
.pytest_cache/
.mypy_cache/

### Large old data (do not push)
data/dataspectrogramunnormalized/
data/datamp3/